@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #6568AB, #474978)
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(51, 53, 90, 0.6);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #6568AB;
    text-align: center;
    text-shadow: 1px 1px #494c7c;
}

h2{
    color: #474978;
}

p{
    text-align: justify;
}